.home-filter
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    margin-right: 5px;
    border : 1px solid #D9D9D9;
    border-radius: 20px;
    height: 50px;
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 20px;
}

.home-filter > form > input, .home-filter > form > select
{
    margin-left: 10px;
    margin-right: 10px;
    background-color: #F5F5F5;
    border : 1px solid #D9D9D9;
    border-radius: 5px;
}

.home-search
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    margin-right: 5px;
    border : 1px solid #D9D9D9;
    border-radius: 20px;
    height: 50px;
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 20px;
}
.home-search > form > input
{
    width: 63vw;
    height: 5vh;
    border: 1px solid transparent;
    background-color: transparent;
}
.home-search > form > img
{
    display: inline-block;
}

.home-events-results > span {
    font-size: 20px;
    font-weight: bold;
    vertical-align: middle;
}