<div class="container">
    <div class="home-filter">
        <form>
            <button>Filtrer</button>
            <input type="date" name="date" placeholder="Start Date">
            <input type="date" name="date" placeholder="End Date">
            <select>
                <option selected disabled>Type of Event</option>
            </select>
        </form>
    </div>
    <div class="home-search">
        <form>
            <Input type="text" name="search" placeholder="Rechercher un événement">
            <img src="assets/search.png"/>
        </form>
    </div>
    <div class="home-events">
        <div class="home-events-results">
            <span>Evenements à venir</span>
            <!-- Nb Resultats (En fonction du back)-->
        </div>
    </div>
        <!--Insert Here events component-->
</div>
