<div class="container">
    <div class="home-filter">
        <form>
            <button>Filtrer</button>
            <input type="date" name="date" placeholder="Start Date">
            <input type="date" name="date" placeholder="End Date">
            <select name="typeEvent">
                <option selected disabled>Type of Event</option>
                @for (type of JSONTypeOfEvents; track type.id){
                    <option>{{type.name}}</option>
                }
            </select>
        </form>
    </div>
    <div class="home-search">
        <form>
            <Input type="text" name="search" placeholder="Rechercher un événement">
            <img src="assets/search.png"/>
        </form>
    </div>
    <div class="home-events">
        <div class="home-events-results">
            <span>Evenements à venir</span>
            <!-- Nb Resultats (En fonction du back)-->
        </div>
        <div class="home-events-list">
            @for (event of events; track event) {
                <app-event-banner [event]="event"/>
            }
        </div>
    </div>
        <!--Insert Here events component-->
</div>
