.home-page
{
    padding: 20px 10vw;
    background-color: #F5F5F5;
    min-height: 100vh;
    box-sizing: border-box;
}

.home-filter > form
{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 10px;
    margin-right: 5px;
    border : 1px solid #D9D9D9;
    background-color: white;
    border-radius: 20px;
    height: 50px;
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 20px;
}

.home-filter > form > div:first-child
{
    margin: 0 1.3vw 0 1vw;
    font-size: 20px;
    font-weight: bold;
}

.home-filter > form > div
{
    font-size: 18px;
}

.home-filter > form > input, .home-filter > form > select
{
    margin-left: 10px;
    margin-right: 10px;
    padding: 5px 15px;
    background-color: #D9D9D9;
    border : none;
    border-radius: 10px;
    font-size: 18px;
}

.home-filter > form > select::-ms-expand
{
    display: none;
}

.home-search
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    margin-right: 5px;
    height: 50px;
    margin-bottom: 20px;
}

.home-search > form
{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.home-search > input
{
    padding-left: 20px;
    margin-right: 10px;
    background-color: none;
    border: none;
    border-radius: 5px;
    width: 100%;
    height: 50px;

    font-size: 18px;
    
    border-radius: 20px;
    
    border : 1px solid #D9D9D9;
    background-color: white;
}

.home-search > input:focus
{
    outline: none; 
}

.home-search > img
{
    cursor: pointer;
    padding: 10px;
}

.home-search > img:hover
{
    background-color: #D9D9D9;
    border-radius: 50%;
}


.home-events-results > span {
    font-size: 20px;
    font-weight: bold;
    vertical-align: middle;
}

.home-events-list {
    margin-top: 3vh;
    display: flex;
    flex-direction: column;
    gap: 12px;
}