<div class="home-page">
    <!-- <div class="home-filter">
        <form>
            <div>Filtrer</div>
            <div>Start date</div>
            <input type="date" name="date" [(ngModel)]="dateFrom" placeholder="Start Date" (change)="filter()">
            <div>End date</div>
            <input type="date" name="date" [(ngModel)]="dateTo" placeholder="End Date" (change)="filter()">
            <select name="typeEvent" [(ngModel)]="searchType" (onchange)="filter()">
                <option selected>N'importe quel type</option>
                @for (type of typeOfEvents; track type.id){
                    <option>{{type.name}}</option>
                }
            </select>
        </form>
    </div> -->
    <div class="home-search">
        <input type="text" placeholder="Rechercher un événement" [(ngModel)]="searchText" (keyup)="filter()"  />
        <img src="assets/search.png"/>
    </div>
    <div class="home-events">
        <div class="home-events-results">
            <span>Evenements à venir</span>
            <!-- Nb Resultats (En fonction du back)-->
        </div>
        <div class="home-events-list">
            @for (event of shownEvents; track event) {
                <app-event-banner [event]="event"/>
            }
        </div>
    </div>
        <!--Insert Here events component-->
</div>
