.app-logo > img
{
    width: 50px;
    height: 50px;
}
.app-logo > span
{
    font-size: 20px;
    font-weight: bold;
    //centrer verticallement le texte du span
    vertical-align: middle;
}
.app-logo{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 4vh;
}

.login-div{
    border: 1px solid #D9D9D9;
    border-radius: 8px;
    width: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2vw 5vh;
}

.login-div > form > div
{
    margin-bottom: 5px;
    margin-top : 10px;
}

.login-div > form > input
{
    width: 100%;
    height: fit-content;
    border-radius: 5px;
    border: 1px solid #D9D9D9;
    margin-bottom: 5px;
    padding: 8px 15px;
}

.login-div > form > button
{
    width: 100%;
    height: fit-content;
    border-radius: 5px;
    background-color: #2C2C2C;
    border: none;
    color: #FFFFFF;
    padding: 10px 0;
    margin-top: 15px;
    margin-bottom: 5px;
}

.login-p{
    margin-top: 3vh;
    cursor: pointer;
    color: #757575;
    text-align: center;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 80vh;
}