<div class="container">
    <div class="app-logo">
        <img src="assets/academia_icon.png" alt="Academia">
        <span>ACADEMIA</span>
    </div>
    <div class="login-div">
        <form (ngSubmit)="submit()">
            @if(message!=""){
                <p style="color: red;">{{message}}</p>
            }
           
            <div>Email</div>
            <input [(ngModel)]="loginEmail" type="email" name="loginEmail" placeholder="Taper ici">
            <div>Mot de passe</div>
            <input [(ngModel)]="loginPassword" type="password" name="loginPassword" placeholder="Taper ici">
            <button type="submit">Se connecter</button>
        </form>
    </div>
    <p class="login-p" (click)="redirectToHome()">Retour à l'accueil</p>
</div>