<div class="header">
    <div (click)="redirectToHome()">
        <img src="assets/academia_icon.png" alt="Icône Academia">
        <div>ACADEMIA</div>
    </div>
    <div class="all-events" (click)="redirectToHome()">
        Voir tous les événements
    </div>
    @if(!connexion){
    <div >
        <button class="button-white" (click)="redirectToLogin()"> 
            Se connecter
        </button>
    </div>
    }@else {
    <div>
        <img class='parameters-icon' src="assets/parameters.png" alt="Icône Paramètres" (click)="redirectToModifyTags()"/>
    </div>
    <div>
        <button class="button-white" (click)="redirectToEventCreate()"> 
            Rédiger
        </button>
    </div>
    <div>
        <button class="button-white" (click)="logout()"> 
            Se déconnecter
        </button>
    </div>
    }
    <div >
        <button class="button-black" (click)="redirectToRegister()"> 
            Souscrire
        </button>
    </div>
</div>
