.header {
    width: 100%;
    height: 4vh;

    padding: 1vw 0;

    display: flex;
    flex-direction: row;
    align-items: center;

    background-color: #f5f5f5;
    border-bottom: black 1px solid;
}

.header > div {
    padding: 0 1%;
    width: fit-content;

    text-wrap: nowrap;  
    display: block;
    flex-direction: column;
    align-items: center;
}

.header > :first-child {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.header > :last-child {
    padding-right: 2%;
    padding-left: 0;
}

.header button {
    height: 4vh;
    min-height: fit-content;
    padding: 0.5vh 1vw;
}