.header {
    position: sticky;
    top: 0;

    width: 100%;
    height: 8vh;

    padding: 1vw 0;

    display: flex;
    flex-direction: row;
    align-items: center;

    background-color: #f5f5f5;
    border-bottom: black 1px solid;
}

.header > div {
    padding: 0 1%;
    width: fit-content;

    text-wrap: nowrap;  
    display: block;
    flex-direction: column;
    align-items: center;
}

.header > :first-child {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.header > :first-child img {
    height: 4vh;
    margin-right: 0.5vw;
}

.header > :first-child div {
    font-size: 2.5vh;
    margin: 0;
}

.header > :last-child {
    padding-right: 2%;
    padding-left: 0;
}

.header > .all-events {
    padding: 0.3vw 1vh;
    border-radius: 5px;
    font-size: 2vh;
    cursor: pointer;
    transition: background-color 0.3s;
}

.header > .all-events:hover {
    background-color: #cfcfcf;
}


.header button {
    height: 4vh;
    min-height: fit-content;
    padding: 0.5vh 1vw;
}