<div class="tags-page">
    <form class="tags-add-input" (ngSubmit)="onSubmit()">
        <input type="text" name="tag-name" [(ngModel)]="tagInputName" placeholder="Inscrire un nouveau type d'événement">
        <button class="button-black">Ajouter</button>
    </form>
    <h2>
        Type d'événements
    </h2>
    <h4>
        {{tags.length}} résultat(s)
    </h4>
    <div class="tags-list">
        @for (tag of tags; track tag) {
            <app-tag-banner  [tag]="tag" (onDelete)="deleteTag($event)"/>
        }
    </div>
</div>