.app-logo > img
{
    width: 50px;
    height: 50px;
}
.app-logo > span
{
    font-size: 20px;
    font-weight: bold;
    //centrer verticallement le texte du span
    vertical-align: middle;
}
.app-logo{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.subscribe-div{
    border: 1px solid #D9D9D9;
    border-radius: 20px;
    width: 35%;
    height: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.subscribe-div > form > input
{
    width: 80%;
    height: 10%;
    border-radius: 5px;
    border: 1px solid #D9D9D9;
}