.app-logo > img
{
    width: 50px;
    height: 50px;
}
.app-logo > span
{
    font-size: 20px;
    font-weight: bold;
    //centrer verticallement le texte du span
    vertical-align: middle;
}
.app-logo{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 10px;
}

.subscribe-div{
    border: 1px solid #D9D9D9;
    border-radius: 20px;
    width: 20%;
    height: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 20px;
}
.subscribe-div > form > input
{
    width: 100%;
    height: 20%;
    border-radius: 5px;
    border: 1px solid #D9D9D9;
    margin-top: 5px;
    margin-bottom: 5px;
}
.subscribe-div > form > button
{
    width: 100%;
    height: 10%;
    border-radius: 5px;
    background-color: #2C2C2C;
    color: #FFFFFF;
    margin-top: 5px;
    margin-bottom: 5px;
}

.subscribe-p{
    margin-top: 10px;
    cursor: pointer;
    color: #757575;
    text-align: center;
}

//aligner div container
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
}