<div class="container">
    <div class="app-logo">
        <img src="assets/academia_icon.png" alt="Academia">
        <span>ACADEMIA</span>
    </div>
    <div class="subscribe-div">
        <form (ngSubmit)="Submit()">
            <span>Email</span>
            <input [(ngModel)]="subscribeEmail" name="subscribeEmail" type="email"  placeholder="Taper ici">
            <br/> 
            <button type="submit">Souscrire</button>
        </form>
    </div>
    <p class="subscribe-p" (click)="redirectToHome()">Retour à l'accueil</p>
</div>