<div class="home-event-banner">
    <div class="home-event-title">
        <div>
            {{event.name}}
        </div>
        
        @if(connexion) {
            <!-- mettre dans updateEvent le parametre event.id parsé en Int -->
            <img src="assets/update.png" (click)="updateEvent()" alt="">
            <img src="assets/trash.svg" (click)="deleteEvent()" alt="">
        }

    </div>
    <div style="color: gray;">
            {{ event.date | date:'dd/MM/yyyy' }}
        </div>
    <div class="home-event-description">
        {{event.description}}
    </div>
    @if (typeTag != '') {
        <div class="home-event-tag">
            {{typeTag}}
        </div>
    }
</div>